@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 400;
	src: local("SF Mono"), url(./SFMono-Regular.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 400;
	src: local("SF Mono"), url(./SFMono-RegularItalic.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 300;
	src: local("SF Mono"), url(./SFMono-Light.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 300;
	src: local("SF Mono"), url(./SFMono-LightItalic.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 500;
	src: local("SF Mono"), url(./SFMono-Medium.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 500;
	src: local("SF Mono"), url(./SFMono-MediumItalic.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 600;
	src: local("SF Mono"), url(./SFMono-Semibold.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 600;
	src: local("SF Mono"), url(./SFMono-SemiboldItalic.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 700;
	src: local("SF Mono"), url(./SFMono-Bold.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 700;
	src: local("SF Mono"), url(./SFMono-BoldItalic.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: normal;
	font-weight: 900;
	src: local("SF Mono"), url(./SFMono-Heavy.otf) format("woff");
}
@font-face {
	font-family: sf mono;
	font-style: italic;
	font-weight: 900;
	src: local("SF Mono"), url(./SFMono-HeavyItalic.otf) format("woff");
}
