@import url('http://fonts.cdnfonts.com/css/sf-mono');

:root {
	--primary-color: hsl(216, 65%, 11%);
	--secondary-color: hsl(166, 100%, 70%);
	--primary-white: hsl(216, 65%, 90%);
}

*, *::before, *::after {
	transition: .3s ease;
}

body, p {
	background-color: var(--primary-color);
	color: white;
	font-family: 'SF Mono', monospace;
	cursor: default;
}

a.link {
	color: var(--secondary-color);
	position: relative;
	
	&::after {
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		transform: rotate(-1.2deg);
		background: var(--primary-white);
		opacity: 0.2;
	}

	&:hover::after {
		opacity: .5;
		transform: scaleX(1.1);
	}
}

.color-secondary {
	color: var(--secondary-color);
}

.primary-white {
	color: var(--primary-white);
}


.page-enter main,
.page-leave-to main,
.page-enter-active main,
.page-leave-active main {
	transform: scale(0) rotate(-15deg);
	transition: .5s ease-out;
}