@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$primary-color: #0a192f;
$secondary-color: #64ffda;

* {
	transition: .3s ease;
}

body {
	background-color: $primary-color;
	color: white;
	font-family: 'Fira Code', monospace;
}

.color-secondary {
	color: $secondary-color;
}