@import "../fonts/SF-Mono/sf-mono.css";

:root {
	--primary-color: hsl(216, 65%, 11%);
	--secondary-color: hsl(166, 100%, 70%);
	--primary-white: hsl(216, 65%, 90%);
}

body,
p {
	background-color: var(--primary-color);
	color: white;
	font-family: "SF Mono", monospace;
	cursor: default;
}

a.link {
	color: var(--secondary-color);
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		transform: rotate(-1.2deg);
		background: var(--primary-white);
		opacity: 0.2;
		transition: 0.3s;
	}

	&:hover::after {
		opacity: 0.5;
	}
}

.color-secondary {
	color: var(--secondary-color);
}

.primary-white {
	color: var(--primary-white);
}

.page-enter,
.page-leave-to,
.page-enter-active,
.page-leave-active {
	&,
	#main_holder {
		transition: 0.2s ease-out;
	}

	#main_holder {
		transform: translateX(-50px);
		opacity: 0;
	}
}

.page-header {
	display: flex;
	align-items: center;
	gap: 25px;

	&::after {
		content: "";
		display: block;
		flex: 1;
		height: 1px;
		background: var(--primary-white);
		opacity: 0.1;
		transform: scaleX(0);
		transform-origin: 0 0;
		animation: revealHeaderLine 0.8s ease forwards;
		animation-delay: 0.6s;
	}

	@keyframes revealHeaderLine {
		to {
			transform: scaleX(1);
		}
	}
}

.draw svg {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: draw 8s linear forwards;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

.draw-delay-500 svg {
	animation-delay: 800ms;
}
.draw-delay-1000 svg {
	animation-delay: 1600ms;
}
.draw-delay-1500 svg {
	animation-delay: 2400ms;
}

.reveal {
	position: relative;
	opacity: 0;
	left: -50px;
	animation: reveal 800ms ease forwards;
}

@keyframes reveal {
	to {
		left: 0;
		opacity: 1;
	}
}
