.blog-post-body {
	width: 800px;
	max-width: 100%;
	color-scheme: dark;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	color: #c9d1d9;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	text-align: justify;
}

.blog-post-body .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

.blog-post-body h1:hover .anchor .octicon-link:before,
.blog-post-body h2:hover .anchor .octicon-link:before,
.blog-post-body h3:hover .anchor .octicon-link:before,
.blog-post-body h4:hover .anchor .octicon-link:before,
.blog-post-body h5:hover .anchor .octicon-link:before,
.blog-post-body h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: " ";
	display: inline-block;
	background-color: currentColor;
	-webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.blog-post-body details,
.blog-post-body figcaption,
.blog-post-body figure {
	display: block;
}

.blog-post-body summary {
	display: list-item;
}

.blog-post-body [hidden] {
	display: none !important;
}

.blog-post-body a {
	position: relative;
	text-decoration: none !important;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3 {
	border-bottom-color: rgba(255, 255, 255, 0.2) !important;
	transition: border 0.5s;
	display: inline-block;
}

.blog-post-body h1:hover,
.blog-post-body h2:hover,
.blog-post-body h3:hover {
	border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}

.blog-post-body a:hover::after {
	opacity: 0.8;
}

/*
.blog-post-body a::after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	transform: rotate(-1.2deg);
	background: var(--primary-white);
	opacity: 0.3;
	transition: 0.3s;
}
*/

.blog-post-body a:active,
.blog-post-body a:hover {
	outline-width: 0;
}

.blog-post-body abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
}

.blog-post-body b,
.blog-post-body strong {
	font-weight: 600;
}

.blog-post-body dfn {
	font-style: italic;
}

.blog-post-body mark {
	background-color: rgba(187, 128, 9, 0.15);
	color: #c9d1d9;
}

.blog-post-body small {
	font-size: 90%;
}

.blog-post-body sub,
.blog-post-body sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.blog-post-body sub {
	bottom: -0.25em;
}

.blog-post-body sup {
	top: -0.5em;
}

.blog-post-body img {
	border-style: none;
	max-width: 100%;
	box-sizing: content-box;
	background-color: #0d1117;
}

.blog-post-body code,
.blog-post-body kbd,
.blog-post-body pre,
.blog-post-body samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

.blog-post-body figure {
	margin: 1em 40px;
}

.blog-post-body hr {
	box-sizing: content-box;
	overflow: hidden;
	background: transparent;
	border-bottom: 1px solid #21262d;
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #30363d;
	border: 0;
}

.blog-post-body input {
	font: inherit;
	margin: 0;
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.blog-post-body [type="button"],
.blog-post-body [type="reset"],
.blog-post-body [type="submit"] {
	-webkit-appearance: button;
}

.blog-post-body [type="button"]::-moz-focus-inner,
.blog-post-body [type="reset"]::-moz-focus-inner,
.blog-post-body [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

.blog-post-body [type="button"]:-moz-focusring,
.blog-post-body [type="reset"]:-moz-focusring,
.blog-post-body [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

.blog-post-body [type="checkbox"],
.blog-post-body [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.blog-post-body [type="number"]::-webkit-inner-spin-button,
.blog-post-body [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

.blog-post-body [type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

.blog-post-body [type="search"]::-webkit-search-cancel-button,
.blog-post-body [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.blog-post-body ::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

.blog-post-body ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

.blog-post-body a:hover {
	text-decoration: underline;
}

.blog-post-body hr::before {
	display: table;
	content: "";
}

.blog-post-body hr::after {
	display: table;
	clear: both;
	content: "";
}

.blog-post-body table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

.blog-post-body td,
.blog-post-body th {
	padding: 0;
}

.blog-post-body details summary {
	cursor: pointer;
}

.blog-post-body details:not([open]) > *:not(summary) {
	display: none !important;
}

.blog-post-body kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #c9d1d9;
	vertical-align: middle;
	background-color: #161b22;
	border: solid 1px rgba(110, 118, 129, 0.4);
	border-bottom-color: rgba(110, 118, 129, 0.4);
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
	margin-top: 32px;
	margin-bottom: 12px;
	font-weight: 600;
	line-height: 1.25;
}

.blog-post-body h1 {
	margin-top: 50px;
	font-weight: 600;
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid #21262d;
}

.blog-post-body h2 {
	font-weight: 600;
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1px solid #21262d;
}

.blog-post-body h3 {
	font-weight: 600;
	font-size: 1.25em;
}

.blog-post-body h4 {
	font-weight: 600;
	font-size: 1em;
}

.blog-post-body h5 {
	font-weight: 600;
	font-size: 0.875em;
}

.blog-post-body h6 {
	font-weight: 600;
	font-size: 0.85em;
	color: #8b949e;
}

.blog-post-body p {
	margin-top: 0;
	margin-bottom: 10px;
	opacity: 0.7;
}

.blog-post-body blockquote {
	margin: 0;
	padding: 0 1em;
	color: #8b949e;
	border-left: 0.25em solid #30363d;
}

.blog-post-body ul,
.blog-post-body ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
	list-style-type: circle;
	opacity: 0.7;
}

.blog-post-body ol ol,
.blog-post-body ul ol {
	list-style-type: lower-roman;
}

.blog-post-body ul ul ol,
.blog-post-body ul ol ol,
.blog-post-body ol ul ol,
.blog-post-body ol ol ol {
	list-style-type: lower-alpha;
}

.blog-post-body dd {
	margin-left: 0;
}

.blog-post-body tt,
.blog-post-body code {
	font-size: 12px;
}

.blog-post-body pre {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	word-wrap: normal;
}

.blog-post-body .octicon {
	display: inline-block;
	overflow: visible !important;
	vertical-align: text-bottom;
	fill: currentColor;
}

.blog-post-body ::placeholder {
	color: #484f58;
	opacity: 1;
}

.blog-post-body input::-webkit-outer-spin-button,
.blog-post-body input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

.blog-post-body .pl-c {
	color: #8b949e;
}

.blog-post-body .pl-c1,
.blog-post-body .pl-s .pl-v {
	color: #79c0ff;
}

.blog-post-body .pl-e,
.blog-post-body .pl-en {
	color: #d2a8ff;
}

.blog-post-body .pl-smi,
.blog-post-body .pl-s .pl-s1 {
	color: #c9d1d9;
}

.blog-post-body .pl-ent {
	color: #7ee787;
}

.blog-post-body .pl-k {
	color: #ff7b72;
}

.blog-post-body .pl-s,
.blog-post-body .pl-pds,
.blog-post-body .pl-s .pl-pse .pl-s1,
.blog-post-body .pl-sr,
.blog-post-body .pl-sr .pl-cce,
.blog-post-body .pl-sr .pl-sre,
.blog-post-body .pl-sr .pl-sra {
	color: #a5d6ff;
}

.blog-post-body .pl-v,
.blog-post-body .pl-smw {
	color: #ffa657;
}

.blog-post-body .pl-bu {
	color: #f85149;
}

.blog-post-body .pl-ii {
	color: #f0f6fc;
	background-color: #8e1519;
}

.blog-post-body .pl-c2 {
	color: #f0f6fc;
	background-color: #b62324;
}

.blog-post-body .pl-sr .pl-cce {
	font-weight: bold;
	color: #7ee787;
}

.blog-post-body .pl-ml {
	color: #f2cc60;
}

.blog-post-body .pl-mh,
.blog-post-body .pl-mh .pl-en,
.blog-post-body .pl-ms {
	font-weight: bold;
	color: #1f6feb;
}

.blog-post-body .pl-mi {
	font-style: italic;
	color: #c9d1d9;
}

.blog-post-body .pl-mb {
	font-weight: bold;
	color: #c9d1d9;
}

.blog-post-body .pl-md {
	color: #ffdcd7;
	background-color: #67060c;
}

.blog-post-body .pl-mi1 {
	color: #aff5b4;
	background-color: #033a16;
}

.blog-post-body .pl-mc {
	color: #ffdfb6;
	background-color: #5a1e02;
}

.blog-post-body .pl-mi2 {
	color: #c9d1d9;
	background-color: #1158c7;
}

.blog-post-body .pl-mdr {
	font-weight: bold;
	color: #d2a8ff;
}

.blog-post-body .pl-ba {
	color: #8b949e;
}

.blog-post-body .pl-sg {
	color: #484f58;
}

.blog-post-body .pl-corl {
	text-decoration: underline;
	color: #a5d6ff;
}

.blog-post-body [data-catalyst] {
	display: block;
}

.blog-post-body g-emoji {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1em;
	font-style: normal !important;
	font-weight: 400;
	line-height: 1;
	vertical-align: -0.075em;
}

.blog-post-body g-emoji img {
	width: 1em;
	height: 1em;
}

.blog-post-body::before {
	display: table;
	content: "";
}

.blog-post-body::after {
	display: table;
	clear: both;
	content: "";
}

.blog-post-body > *:first-child {
	margin-top: 0 !important;
}

.blog-post-body > *:last-child {
	margin-bottom: 0 !important;
}

.blog-post-body a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.blog-post-body .absent {
	color: #f85149;
}

.blog-post-body .anchor {
	float: left;
	padding-right: 4px;
	margin-left: -20px;
	line-height: 1;
}

.blog-post-body .anchor:focus {
	outline: none;
}

.blog-post-body p,
.blog-post-body blockquote,
.blog-post-body ul,
.blog-post-body ol,
.blog-post-body dl,
.blog-post-body table,
.blog-post-body pre,
.blog-post-body details {
	margin-top: 0;
	margin-bottom: 16px;
}

.blog-post-body blockquote > :first-child {
	margin-top: 0;
}

.blog-post-body blockquote > :last-child {
	margin-bottom: 0;
}

.blog-post-body sup > a::before {
	content: "[";
}

.blog-post-body sup > a::after {
	content: "]";
}

.blog-post-body h1 .octicon-link,
.blog-post-body h2 .octicon-link,
.blog-post-body h3 .octicon-link,
.blog-post-body h4 .octicon-link,
.blog-post-body h5 .octicon-link,
.blog-post-body h6 .octicon-link {
	color: #c9d1d9;
	vertical-align: middle;
	visibility: hidden;
}

.blog-post-body h1:hover .anchor,
.blog-post-body h2:hover .anchor,
.blog-post-body h3:hover .anchor,
.blog-post-body h4:hover .anchor,
.blog-post-body h5:hover .anchor,
.blog-post-body h6:hover .anchor {
	text-decoration: none;
}

.blog-post-body h1:hover .anchor .octicon-link,
.blog-post-body h2:hover .anchor .octicon-link,
.blog-post-body h3:hover .anchor .octicon-link,
.blog-post-body h4:hover .anchor .octicon-link,
.blog-post-body h5:hover .anchor .octicon-link,
.blog-post-body h6:hover .anchor .octicon-link {
	visibility: visible;
}

.blog-post-body h1 tt,
.blog-post-body h1 code,
.blog-post-body h2 tt,
.blog-post-body h2 code,
.blog-post-body h3 tt,
.blog-post-body h3 code,
.blog-post-body h4 tt,
.blog-post-body h4 code,
.blog-post-body h5 tt,
.blog-post-body h5 code,
.blog-post-body h6 tt,
.blog-post-body h6 code {
	padding: 0 0.2em;
	font-size: inherit;
}

.blog-post-body ul.no-list,
.blog-post-body ol.no-list {
	padding: 0;
	list-style-type: none;
}

.blog-post-body ol[type="1"] {
	list-style-type: decimal;
}

.blog-post-body ol[type="a"] {
	list-style-type: lower-alpha;
}

.blog-post-body ol[type="i"] {
	list-style-type: lower-roman;
}

.blog-post-body div > ol:not([type]) {
	list-style-type: decimal;
}

.blog-post-body ul ul,
.blog-post-body ul ol,
.blog-post-body ol ol,
.blog-post-body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.blog-post-body li > p {
	margin-top: 16px;
}

.blog-post-body li + li {
	margin-top: 0.25em;
}

.blog-post-body dl {
	padding: 0;
}

.blog-post-body dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.blog-post-body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.blog-post-body table th {
	font-weight: 600;
}

.blog-post-body table th,
.blog-post-body table td {
	padding: 6px 13px;
	border: 1px solid #30363d;
}

.blog-post-body table tr {
	background-color: #0d1117;
	border-top: 1px solid #21262d;
}

.blog-post-body table tr:nth-child(2n) {
	background-color: #161b22;
}

.blog-post-body table img {
	background-color: transparent;
}

.blog-post-body img[align="right"] {
	padding-left: 20px;
}

.blog-post-body img[align="left"] {
	padding-right: 20px;
}

.blog-post-body .emoji {
	max-width: none;
	vertical-align: text-top;
	background-color: transparent;
}

.blog-post-body span.frame {
	display: block;
	overflow: hidden;
}

.blog-post-body span.frame > span {
	display: block;
	float: left;
	width: auto;
	padding: 7px;
	margin: 13px 0 0;
	overflow: hidden;
	border: 1px solid #30363d;
}

.blog-post-body span.frame span img {
	display: block;
	float: left;
}

.blog-post-body span.frame span span {
	display: block;
	padding: 5px 0 0;
	clear: both;
	color: #c9d1d9;
}

.blog-post-body span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}

.blog-post-body span.align-center > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: center;
}

.blog-post-body span.align-center span img {
	margin: 0 auto;
	text-align: center;
}

.blog-post-body span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}

.blog-post-body span.align-right > span {
	display: block;
	margin: 13px 0 0;
	overflow: hidden;
	text-align: right;
}

.blog-post-body span.align-right span img {
	margin: 0;
	text-align: right;
}

.blog-post-body span.float-left {
	display: block;
	float: left;
	margin-right: 13px;
	overflow: hidden;
}

.blog-post-body span.float-left span {
	margin: 13px 0 0;
}

.blog-post-body span.float-right {
	display: block;
	float: right;
	margin-left: 13px;
	overflow: hidden;
}

.blog-post-body span.float-right > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: right;
}

.blog-post-body code,
.blog-post-body tt {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(110, 118, 129, 0.4);
	border-radius: 6px;
}

.blog-post-body code br,
.blog-post-body tt br {
	display: none;
}

.blog-post-body del code {
	text-decoration: inherit;
}

.blog-post-body pre code {
	font-size: 100%;
}

.blog-post-body pre > code {
	padding: 0;
	margin: 0;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

.blog-post-body .highlight {
	margin-bottom: 16px;
}

.blog-post-body .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.blog-post-body .highlight pre,
.blog-post-body pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #c9d1d9;
	color: #0a182e;
	border-radius: 6px;
}

.blog-post-body pre code,
.blog-post-body pre tt {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

.blog-post-body .csv-data td,
.blog-post-body .csv-data th {
	padding: 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 1;
	text-align: left;
	white-space: nowrap;
}

.blog-post-body .csv-data .blob-num {
	padding: 10px 8px 9px;
	text-align: right;
	background: #0d1117;
	border: 0;
}

.blog-post-body .csv-data tr {
	border-top: 0;
}

.blog-post-body .csv-data th {
	font-weight: 600;
	background: #161b22;
	border-top: 0;
}

.blog-post-body .footnotes {
	font-size: 12px;
	color: #8b949e;
	border-top: 1px solid #30363d;
}

.blog-post-body .footnotes ol {
	padding-left: 16px;
}

.blog-post-body .footnotes li {
	position: relative;
}

.blog-post-body .footnotes li:target::before {
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -24px;
	pointer-events: none;
	content: "";
	border: 2px solid #1f6feb;
	border-radius: 6px;
}

.blog-post-body .footnotes li:target {
	color: #c9d1d9;
}

.blog-post-body .footnotes .data-footnote-backref g-emoji {
	font-family: monospace;
}

.blog-post-body .task-list-item {
	list-style-type: none;
}

.blog-post-body .task-list-item label {
	font-weight: 400;
}

.blog-post-body .task-list-item.enabled label {
	cursor: pointer;
}

.blog-post-body .task-list-item + .task-list-item {
	margin-top: 3px;
}

.blog-post-body .task-list-item .handle {
	display: none;
}

.blog-post-body .task-list-item-checkbox {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}

.blog-post-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
	margin: 0 -1.6em 0.25em 0.2em;
}

.blog-post-body ::-webkit-calendar-picker-indicator {
	filter: invert(50%);
}
